<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6077508278570" version="0.0.2">
  <name>air</name>
  <description>Open source code for gizWifiSDK</description>
  <author email="club@gizwits.com" href="http://www.gizwits.com/">Developer</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="false"/>
  <preference name="fullScreen" value="false"/>
  <preference name="softInputMode" value="auto"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="fileShare" value="true"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="debug" value="true"/>
  <preference name="statusBarAppearance" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <access origin="*"/>
  <feature name="qq">
    <param name="urlScheme" value="1106718273*"/>
    <param name="apiKey" value="pE4PUKlBvNP0oC1b"/> 
  </feature>
  <feature name="arcProgress"/>
  <feature name="FNScanner"/>
  <feature name="NVTabBar"/>
  <feature name="push"/>
</widget>
